---
import BaseHead from "../../components/BaseHead.astro";
import type { CollectionEntry } from "astro:content";
import Header from "../../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import Blogcard from "@component:astro/Blogcard.astro";
 const posts = (await getCollection("blog")).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
 );
 type Props = CollectionEntry<"blog">["data"];
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<link rel="stylesheet" href="https://barabariproject.org/css/atoms.css" />
		<style>
			main{
			margin: 0px 2em;	
			}
			section{
				display: flex;
				flex-wrap: wrap;
				justify-content: center;

			}

		</style>
	</head>
	<body xmlns="http://www.w3.org/2000/svg">
		<Header />
		<main>
			<section>
					{
						posts.map((post) => (
							<Blogcard {post}/>
						))
					}
			</section>
		</main>
	</body>
</html>
