:root {
  --blue-lt: #57c;
  --blue: #349;
  --blue-gt: #116;
  --yellow-lt: #ff9;
  --yellow: #fc3;
  --yellow-gt: #fa0;
  /* RGBs */
  --blue-lt-rgb: 85, 119, 204;
  --blue-rgb: 51, 68, 153;
  --blue-gt-rgb: 17, 17, 102;
  --yellow-lt-rgb: 255, 255, 153;
  --yellow-rgb: 255, 204, 51;
  --yellow-gt-rgb: 255, 170, 0;
}

body {
  font-weight: 400;
}

hr {
  border-top: 1px solid #ddd;
  margin: 1rem auto;
  max-width: min(100%, 768px);
}

article img:not(.max) {
  border-radius: 10px;
}

article>p:first-of-type::first-letter {
  float: left;
  padding: 5px 15px 10px;
  margin: -40px 16px -5px 0;
  margin-right: 16px;
  font-size: 4em;
  line-height: 1em;
  color: var(--blue);
  background: none;
  border: 5px solid var(--blue) !important;
  border-image: linear-gradient(135deg, var(--blue-lt), var(--blue-gt)) 10 !important;
}

article>blockquote {
  border-radius: 3px;
}

article>pre {
  border-radius: 10px;
}

mark {
  background: var(--yellow);
  display: inline-block;
  padding: 0 2px;
  border-radius: 2px;
}

.max {
  width: 100vw !important;
  display: block;
}

a,
a:visited,
a:hover {
  display: inline-block;
  text-decoration: none;
  color: var(--blue);
  position: relative;
  transition: color 0.1s ease;
  z-index: 1;
}

a::before {
  display: inline-block;
  background: var(--blue);
  content: "";
  height: 0.15em;
  border-radius: 10px;
  position: absolute;
  top: 1.25em;
  width: 100%;
  transition: top 0.1s ease;
  z-index: -1;
}

a:hover {
  color: var(--yellow);
}

a:hover::before {
  background: var(--yellow-gt);
  position: absolute;
  top: 1.5em;
}


h2,
h3 {
  position: relative;
  display: inline-block;
}

h2::before,
h3::before {
  content: "";
  background: rgba(var(--blue-lt-rgb), .66);
  position: absolute;
  width: 100%;
  transition: top 0.1s ease, height 0.1s ease;
  z-index: -1;
  top: .75em;
  height: 0.66em;
}

h2::after,
h3::after {
  content: "\a";
  white-space: pre;
}