---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date("March 18 2023")}
	updatedDate={new Date("March 25 2023")}
	heroImage="/placeholder-about.jpg"
>
	<p>
		Hi. We're The Barabari Project. We're a small team of people working towards
		more equitable education for all. We're committed to making education more
		accessible and affordable for everyone. We use technology to scale our
		efforts and provide a better learning experience for our students.
	</p>
</Layout>
