---
import HeaderLink from "./HeaderLink.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<header>
	<nav>
		<HeaderLink href="https://barabariproject.org" target="_blank">
			Home
		</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
	</nav>
	<div class="toggle_btn">
		<ThemeToggle />
	</div>

</header>

<style>
	header {
	margin: 2em 10em;
	justify-content:center;
    display: flex;
	align-items: center;
	}
	h1 {
		margin: 0.5em 0;
	}
</style>
