---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a,
	a:visited,
	a:hover {
		font-family: -apple-system, BlinkMacSystemfont, segoe ui, Roboto,
			Oxygen-Sans, Ubuntu, Cantarell, helvetica neue, sans-serif;
		font-size: 1.4rem;
		text-decoration: none;
		color: var(--color-gray-400);
		position: relative;
		transition: color 0.1s ease;
		z-index: 1;
	}
	a.active {
		text-decoration: none;
		color:var(--color-white);
	}
	a.active::before {
		display: inline-block;
		background:var(--color-white);
		content: "";
		left: 0;
		right: 0;
		height: 0.12em;
		border-radius: 10px;
		position: absolute;
		top: 1.8em;
		width: 100%;
	}
	a:hover::before {
		display: inline-block;
		background: var(--color-white);
		content: "";
		left: 0;
		right: 0;
		height: 0.12em;
		border-radius: 10px;
		position: absolute;
		top: 1.8em;
		width: 100%;
		transition: top 0.1s ease;
		z-index: -1;
	}

	a:hover {
		color: var(--color-white);
	}
</style>
